/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    flavor = "balanced";
    tapping_term_ms = <200>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  '  |  ,  |  .  |  P  |  Y  |   |  F  |  G  |  C  |  R  |  L  | ENTR |
// |  TAB |  A  |  O  |  E  |  U  |  I  |   |  D  |  H  |  T  |  N  |  S  |  L3  |
// | SHFT |  ;  |  Q  |  J  |  K  |  X  |   |  B  |  M  |  W  |  V  |  Z  | SHFT |
//                    |  L1 | BSPC| ENTR|   | L3  | SPC |     |
                        bindings = <
   &kp ESC    &kp SQT      &kp COMMA    &kp DOT     &kp P       &kp Y           &kp F  &kp G       &kp C       &kp R        &kp L        &kp RET
   &kp TAB    &mt LSHFT A  &mt LCTRL O  &mt LALT E  &mt LGUI U  &kp I           &kp D  &mt LGUI H  &mt LALT T  &mt LCTRL N  &mt LSHFT S  &none
   &kp LSHFT  &kp SEMI     &kp Q        &kp J       &kp K       &kp X           &kp B  &kp M       &kp W       &kp V        &kp Z        &kp RSHFT
                                        &to 1       &kp BSPC    &kp ENTR        &mo 3  &kp SPC     &none
                        >;
                };
                symbol_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | ENTR |
// |  TAB |  `  |  {  |  [  |  (  | "|" |   |  ^  |  )  |  ]  |  }  |  -  |  L3  |
// | SHFT |  ~  |  %  |  #  |  $  |  \  |   |  _  |  *  |  +  |  =  |  /  | SHFT |
//                    |  L2 | BSPC| ENTR|   | L3  | SPC | L0  |
                        bindings = <
   &trans  &kp N1           &kp N2           &kp N3         &kp N4         &kp N5          &kp N6     &kp N7         &kp N8         &kp N9           &kp N0           &trans
   &trans  &mt LSHFT GRAVE  &mt LCTRL LBRC   &mt LALT LBKT  &mt LGUI LPAR  &kp PIPE        &kp CARET  &mt LGUI RPAR  &mt LALT RBKT  &mt LCTRL RBRC   &mt LSHFT MINUS  &trans
   &trans  &kp TILDE        &kp PRCNT        &kp HASH       &kp DLLR       &kp BSLH        &kp UNDER  &kp STAR       &kp PLUS       &kp EQUAL        &kp FSLH         &trans
                                             &to 2          &trans         &trans          &trans     &trans         &to 0
                        >;
                };

                function_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  F1 |  F2 |  F3 |  F4 | BR+ |   |PREV |PAUSE|NEXT |VOL- |VOL+ | ENTR |
// |  TAB |  F5 |  F6 |  F7 |  F8 | BR- |   | L4  |LEFT | DN  | UP  |RIGHT|  L3  |
// | SHFT |  F9 | F10 | F11 | F12 | GUI |   | L5  |HOME |PGDN |PGUP | END | SHFT |
//                    |     | BSPC| ENTR|   | L3  | SPC | L0  |
                        bindings = <
   &trans  &kp F1        &kp F2         &kp F3        &kp F4        &kp C_BRI_UP        &kp C_PREV  &kp C_PP       &kp C_NEXT     &kp C_VOL_DN  &kp C_VOL_UP     &trans
   &trans  &mt LSHFT F5  &mt LCTRL F6   &mt LALT F7   &mt LGUI F8   &kp C_BRI_DN        &to 4       &mt LGUI LEFT  &mt LALT DOWN  &mt LCTRL UP  &mt LSHFT RIGHT  &trans
   &trans  &kp F9        &kp F10        &kp F11       &kp F12       &kp LGUI            &to 5       &kp HOME       &kp PG_DN      &kp PG_UP     &kp END          &trans
                    	                &none         &trans        &trans              &trans      &trans         &to 0
                        >;
                };
                
                ez_symbol_layer {
// -----------------------------------------------------------------------------------------
// |      |  '  |  "  | TAB | ESC |     |   |     |     |     |     |     |      |
// |      |  !  |  @  |  /  |  ?  |CAPSW|   |     | GUI | ALT |CTRL |SHFT |      |
// |      |     |  &  |  _  |  -  |CAPSL|   |     |     |     |     |     |      |
//                    |     |     |BSPC+|   |     |     |     |
                        bindings = <
   &none  &kp SQT   &kp DQT   &kp TAB    &kp ESC       &none             &none   &none     &none     &none      &none      &none
   &none  &kp EXCL  &kp AT    &kp FSLH   &kp QMARK     &caps_word        &none   &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none
   &none  &none     &kp AMPS  &kp UNDER  &kp MINUS     &kp CAPS          &none   &none     &none     &none      &none      &none
                              &none      &kp LC(BSPC)  &none             &trans  &none     &none
                        >;
                };
                
                unicode_layer {
// -----------------------------------------------------------------------------------------
// |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// |      |     |  A  |  B  |  C  |     |   |     |  D  |  E  |  F  |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     | BSPC|  U_ |   |     | SPC | L0  |
                        bindings = <
   &none  &kp N1  &kp N2  &kp N3  &kp N4         &kp N5               &kp N6  &kp N7     &kp N8  &kp N9  &kp N0  &none
   &none  &none   &kp A   &kp B   &kp C          &none                &none   &kp D      &kp E   &kp F   &none   &none
   &none  &none   &none   &none   &none          &none                &none   &none      &none   &none   &none   &none
                          &none   &kp BSPC       &kp LC(LS(U))        &none   &kp SPACE  &to 0
                        >;
                };
                
                system_layer {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |  L6 |  L7 |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     | L0  |
                        bindings = <
   &none  &none  &none  &none  &none  &none        &none  &none  &none  &none  &none  &none
   &none  &to 6  &to 7  &to 8  &none  &none        &none  &none  &none  &none  &none  &none
   &none  &none  &none  &none  &none  &none        &none  &none  &none  &none  &none  &none
                        &none  &none  &none        &none  &none  &to 0
                        >;
                };
                
                bluetooth_layer {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     | L0  |
                        bindings = <
   &none       &none         &none         &none         &none          &none               &none  &none  &none  &none  &none  &none
   &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4        &none  &none  &none  &none  &none  &none
   &none       &none         &none         &none         &none          &none               &none  &none  &none  &none  &none  &none
                    	                   &none         &none          &none               &none  &none  &to 0
                        >;
                };
                
                qwerty_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | ENTR |
// |  TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  L3  |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | SHFT |
//                    |     | BSPC| ENTR|   | L3  | SPC | L0  |
                        bindings = <
   &kp ESC    &kp Q        &kp W        &kp E       &kp R       &kp T           &kp Y  &kp U       &kp I       &kp O        &kp P           &kp RET
   &kp TAB    &mt LSHFT A  &mt LCTRL S  &mt LALT D  &mt LGUI F  &kp G           &kp H  &mt LGUI J  &mt LALT K  &mt LCTRL L  &mt LSHFT SEMI  &none
   &kp LSHFT  &kp Z        &kp X        &kp C       &kp V       &kp B           &kp N  &kp M       &kp COMMA   &kp DOT      &kp FSLH        &kp RSHFT
                                        &none       &kp BSPC    &kp ENTR        &mo 3  &kp SPC     &to 0
                        >;
                };
        };
};
